# Auto detect text files and perform LF normalization
* text=auto

# make ui.py and incomeSourceTile.py ignored in language stats
src/ui.py linguist-vendored=true
src/incomeSourceTile.py linguist-vendored=true